<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
               The site focuses on GIS along with portfolio examples of my 
                use of these programs ESRI's <a href="https://www.arcgis.com/" target="_blank">ArcGIS Online</a>,
                <a href="https://www.cartodb.com/" target="_blank">CartoDB</a>,
                <a href="http://www.openstreetmap.org/#map=11/29.7909/-95.4211" target="_blank">OpenStreetMap</a>,
                The site also covers some of the following data vis technologies 
                <a href="https://d3js.org/" target="_blank">D3.js</a>, <a href="https://www.rstudio.com/" target="_blank">R Studio</a>,
                <a href="https://sites.google.com/site/fusiontablestalks/stories" target="_blank">Fusion Tables</a> 
                </p><a href="http://www.cityplanningtech.com/GIS/" class="btn btn-theme"More Info
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Donec elementum orci dui, eu euismod sem pellentesque sit amet. Nunc tempus consequat urna, vel
                consectetur odio mattis id. Nam nisi sem, tincidunt id risus et, auctor lacinia nulla. In hac habitasse
                platea dictumst.
            </p>
        </div>
    </div>
</section>
