<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
               <b>Map of the Month (1/1/17) Google Map of Emergency Services in Houston.</b><br>
              <iframe src="https://www.google.com/maps/d/embed?mid=1OucFjSLUSwiuyDL-Uw_V75CbH-4&z=10" width="350" height="350"></iframe>
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                GIS & Data
                The site focuses on GIS along with portfolio examples of my 
                use of these programs ESRI's <a href="https://www.arcgis.com/" target="_blank">ArcGIS Online</a>
                <a href="https://www.cartodb.com/" target="_blank">CartoDB</a>,
                <a href="http://www.openstreetmap.org/#map=11/29.7909/-95.4211" target="_blank">OpenStreetMap</a>,
                The site also covers some of the following data vis technologies
            </p>
        </div>
    </div>
</section>
