<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
               <b>Map of the Month (1/1/17) Google Map of Emergency Services in Houston.</b><br>
              <iframe src="https://www.google.com/maps/d/embed?mid=1OucFjSLUSwiuyDL-Uw_V75CbH-4&z=10" width="350" height="350"></iframe>
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                GIS & Data
                The site focuses on GIS along with portfolio examples of my 
                use of these programs ESRI's <a href="https://www.arcgis.com/" target="_blank">ArcGIS Online</a>
                <a href="https://www.cartodb.com/" target="_blank">CartoDB</a>,
                <a href="http://www.openstreetmap.org/#map=11/29.7909/-95.4211" target="_blank">OpenStreetMap</a>,
                The site also covers some of the following data vis technologies
                <a href="https://d3js.org/" target="_blank">D3.js</a>, <a href="https://www.rstudio.com/" target="_blank">R Studio</a>,
                <a href="https://sites.google.com/site/fusiontablestalks/stories" target="_blank">Fusion Tables</a> 
                <p><a href="http://www.cityplanningtech.com/GIS/" class="btn btn-theme">More Info</a> 
                <h4>Urban Planning & Market Research</h4>
                 <b>“Cities have the capability of providing something for everybody, only because,and only when, they are created by everybody.”, Jane Jacobs</b> 
                 Influences include: <a href="http://www.planetizen.com/tag/public-participation" target="_blank">Planetizen's Public Participation Page</a>,
                 <a href="http://designingchicago.com/" target="_blank">The Designing Chicago Page</a>,<a href="https://www.pdx.edu/usp/sites/www.pdx.edu.usp/files/Journal%20of%20Planning%20Literature-2012-Seltzer-0885412212469112.pdf" target="_blank">Crowd Sourcing in Planning</a>,
                 <p><a href="http://cityplanningtech.com/about/" class="btn btn-theme">More Info</a>       
            </p>
        </div>
    </div>
</section>
