<footer class="container-fluid container-contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Contacts</h1>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
               Email: cleroythomas@gmail.com<br>
               Linkedin: chuckleroythomasjr<br>
               Portfolio: charlesleroythomasjr.tech<br>
               Blog: cityplanningtech.com<br>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a href="tel:{{ site.phone }}">
                    {{ site.phone }}
                </a>
            </div>
        </div>
    </div>
</footer>
